<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Xcom.aPlay.Properties.Settings.testConnectionString"
            connectionString="synchronous=Off;data source=&quot;D:\Cameron\My Documents\Visual Studio 2008\Projects\aPlay\test.db&quot;"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>